@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Pacifico");
body {
  height: 100vh;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Open Sans", sans-serif;
}

body p {
  font-family: "Oswald", sans-serif;
}

body .container {
  height: 60%;
  max-width: 100%;
  width: 60%;
}

body .container .main-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px 0 0 7px;
}

body .container .main-img h1 {
  font-family: "Pacifico", cursive;
}

body .container .sign-up {
  background-image: url("https://lh3.googleusercontent.com/2D43jv0AXO3F6QbmABQhC5SGO8p9OtoS_c0Z0wal2g5BVwsHQCPd-clo7_0mc5-KRE3cHcHG1dQNINqvWWMl31X6CLRoW2_FHNARAL3zD7z9WQLXhyRWXjeXNs8MFiSYgbuAw13xHkaqSJIqF1eszF6BQPycgMuMTT-SdlQBjQeH6rXMlbIaWX51NH-Q3Fz9Dwblq8yiqFY7g1zgbam_oaPRhbRLMBfB8AJ783ud0LNl7F-ZGCXflELuwpsD7UL7fW9Y2dtWYEhBC92drrCt0n5TzKJbdTRXZcMxthJ_NTraELsp9N_ba5dYdAPVQ38SOF3q_SC8cP8Ekw3vSZe_vnhUev1lJnWeSEmzmNAO3GW3TX0Y-HjysonDeLM7vcrGpV9urdqs10Tpzcsj91DSQvMKH3j9Fz4XfbJZ3_T_Ox6Dek27QKiwxDvgb4CyTHwRkTKB5km4J7mLdQrTffP2SorXSgfQ9XBhmN2Q6652p3rjL0IFDhSwRP0ugNiE6jk8MTOx7Ecd6d9EWORZBThud2wRrH1CR0HZ3es3z-lA70PKpYRhFAQduRoUlzEu7veFYOMklZhDrJKykDMV-W4AtWVJYXOJ-ZYDnSAKcP6b=w1480-h990-no");
}

body .container .log-in {
  background-image: url("../img/background-img.JPG");
}

body .container .log-in-welcome {
  background-image: url("https://lh3.googleusercontent.com/Fft7o9QV4sD8XLlWN2qWUMi3BHQYEYB6VOF40auyLV9Fa9Zv2GjI2hOj6lBkoP0zK4bCWVJ86bmJHjiaEFGOwF7TWs1cTjrMxwQV__QNBZUm-LGRh_c1V0GIIfZymUecyGr8MDrnTprOssLHsFecZJXx8XWqUwnJozefXjkkbtXZbo3nywAGAOMFHbt1Wzp2dD6o2mP3OKtxX-d72U1THG_JO2n2-aa5x0NbD9Vj6-RLmIpjfwSpWX4aEQq3oUMwpKbSbpQDGRvyWrUQVPdIf5z0Qag4BAyr6rhroL0PzPZ2x-GnqGcHL6138v1XnBVa_pk7pZItePwhcIQRdLCVD1pqdKNCbtBWUEQ_2_123rcJm9Fch55pzw_tcKhDNZyeI_gb5FoAUro0Hw0HKjDFzDKwjfXFaF5wkj_Gqf1Bufy2PxVR1DGmVMwAm8hJV-yUKZ0kbt8ZBt2aidCbLEJxU8EqjU4GXeB72LAEXq-86rRUUh19dSEqe-W2KYAYA1zbAhyyJeOFe0FKWB13qFjH6vgbm0pJ4defixc-hXQFqPHsFavAjfxhlHP8AhbHq9HJpGgJcWaAUGmGLHuzWCa4x6Eg0TaxScV71ouCLr3f=w1436-h961-no");
}

body .container .log-out {
  background-image: url("https://lh3.googleusercontent.com/vpkoWdcVUf5TYTppGGBVsxd7MziiTvEUeKIF1ZeAdiW29RUNFAmFw5ljCpISDDIdLOmg9PEKk43B7m-1C3JrLro-Gxz8Z1nCiv__IL4fU36Y8VaWuwMMvEx3vZsmaXPMBJrTqqYRX7X1-WrgrGAgn598UoyLSsoNuEA1FD77k4qTgHae4jQJOOKPaRYY8nSiexBuCcA0mczXMBxX4x1raQZK9LDHSbzugihcXOppNrxx8pwWckJYVFLeM7mD4fffwd7mHWKf5pWzdMgXkZRh06QySuxUO4ItvK60PagpkEzndcuRV1IIvWbG-jPNpkD2laS3eld1oU1807KABkwopT52mETlRDmw3faFtWGhTkyXGSaS_53lqacMDfPtNuqhIYwuxV18kmNfJzYIRn1VDg-G5B3kJhgDRnRTkNsOVUohJmN5rMS5vtSNBS4AflWrrjPqZ2ig6U0IK0-wmy2SvOEzEHcc8CV7LstdZVv8D97SBmC_8LkWGZWKAkItADeh9U1mJB4TEDFlLfNMv5tJ2f-1N3XZG_6QeiUhFLvedeN8ULyYiyWeWKymlPBv5FC_BFMpnovEAkyTJKtcbohLhUD-7W5VOq8xiH_0DUwl=w1436-h961-no");
}

body .container .edit {
  background-image: url("https://lh3.googleusercontent.com/VCiF-nTTQCrGlTS_WlPJdKIDKvdxlud0ocmpihj9eIpViQKKR3K4umcrbZooOZmMUtZ3dAlcVoeG9D9FsZmToHcglAvgNaQAYEZeJ_oGU66HWIYgO7RwYwLeWsyGnyPyoWhD_yP_5OTwexPCSrEYmxUPoyxIIfb27v9j4Zccq1AnvdEWNKMiRPMD-aGtzmR_RseUuCdkjCfZ06CMW6YGYO9FxD5ImhQkaLEiAu963WJtq_Oota18SyeQrjeJn6pOq9qocnvMCTqPTY5wspVj2guPFh7PpwnZX-SjKLwgJQA8TXLDtp4E5NQ9vFvCDBDt2xBcwXVLaDBXRl9DhUJJu9cTDwmgCqeetvNkSXXCOh9wlH6Sicoz5gdG7M7v8vH1VEkz0I1jwvFiu9VJXvG4Rx_Hdt9apWR2Bab9UdH_bwy1L9V4qHHV_tvqMkC9GlVNiAYUoLjh9vCvnR6QccrBlkdoTKjRlVJ8gKFmcD0xYkhiZ38Msy0jGNPsm-_4rMu6IeVQTboVZV5O94d-HTvhhJ0Phn1qxiUJClcUBfJ_nXE3sXvgV6z91Cfz5g9fQv3c19lqaNNgQoXEQ3UJ4XyZdn-gPy1MwMgg7fi9O7by=w1436-h961-no");
}

body .container .sign-up-welcome {
  background-image: url("https://lh3.googleusercontent.com/IriVfRq698SQ2iIMIHrXTbazHHb_BSqs5jlScMjlxVn6XgCZgykqb_eoBG5yhD_CBLO_J1IdPjVxR5Esur2HLnmykUGPOtCH7Z_M3-yEv-MKlNNz5oUPHobHVLIyGhpEj633NXZEwb1gcr1ucHyAwA_L6c9ZbmEMEbLJpZb42-x6c2sLuKp7N7dFnDgUo-5EnYsPKxadm-0mXWNyPqL7dbTjf5R4aeO6DE6j918xGNPASyUEGMHJUQAsZIh--B9zFPf615aNDlxOVUV8TpdQpe0oTmqea6PWGLX5L--3O8d2JMPDzfNVNChKbBbDh7KWG9tZFBe8HAvlWEb9s3ooWRgNOCWLnEpjCzOg0OFo0NzGGQgEo54m2LMN75Rzhajr28LAT9ZR6tyw8fO9MS9sEour6Dlssj2dqNDtQyR-OuOLZXXsYAt24iSdf_yT9CYfHYXNIAVWMSdeXVVAwJrBR9DHTRBran-xor4bCrMSlSDTU2KnokwVBiShkoelb0Yxt_hMpSUJJQdtOXRZM9R15J1YbdGJgVvmpbJEpNDQLpIOCbzNvfwPyOo8UfCFgjO5mpUrc3iPlRYxvbaprFFQERg66Tw_2Jr1XauBQjDX=w1442-h961-no");
}

body .container .view-members {
  background-image: url("https://lh3.googleusercontent.com/rFNQKvuazV7K1B1JV8-QOe5LCjWwQcpIvUQk8MPMHPkz8TEOZsSFCwmGbM0YEjI_tQjs2g9qmoz8F3b97HXsD-zD5M5AgcxKjaLxv3eQtLE6mPc7tpyXjSgRcvt9lRffM3UpHCi_DkIYgQfQ9SwdtnZVc39YCbuwcQc94x9DTNcvQ0ve8XGeGkEieg2n4267ig_7mvMcqvXKyZTQ1kgi_Klye-jxzrEcYE4MCiN_v37ceGg_vRmPkP0d6WLdjTRxwf0yCmj_9xldsFUD1H_7cqo7cYGpC3VojGFlb6-a9lTsG4zCFv_V5nC70t2XDf6NqgAZumsiCJJIZcbEfoTN9H2vgWbNkT2tpC7uRXSn56VRDp-o3UxpRl60ATU3UACgGm7FU-QxuYd-MENOawAmCYSkNcrEQgm2QKOP7fpFm0aGrX9pu2tPz55i9TxrpoNu0kDuF5L87vpHPISXq8BtT0_ms5vQa8ckwY3odZMVvDWZGb12lAJsvHWYAIE3iINSMa4-ZMxN8p-PSZE-ZoXftvwLLkaIgiOSdUWKIiwbj_cHmf-5PDrgdAz7NNgZExn4EwZ_kK-dHO7ngwPf7RNDrUVUgDPrI5rDXyzub11n=w1436-h961-no");
}

body .container .form-container {
  border-radius: 0 7px 7px 0;
}

body .container .form-container h2 {
  font-size: 1.5rem;
}

body .container .form-container h3 {
  font-size: 1.3rem;
}

body .container .form-container h4 {
  font-size: 1rem;
  font-weight: bold;
}

body .container .form-container h5 {
  font-size: 1rem;
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */